
.title {
    color: brown;
    text-align: center;
}

table {
    border: 2px solid black;
}

table tr td {
    border: 2px solid black;
}

table tr td:nth-child(odd){
    padding-left: 6px;
    padding-right: 0.4rem;
    font-weight: bold;
}

table tr td:nth-child(even){
    min-width: 30rem;
}

table tr {
    transition: background-color ease-out 0.3s;
    transition: color ease-in-out 0.3s;
}

table tr:hover {
    background-color: cadetblue;
    color: white;
}