
.title {
    background-clip: text;
    color: transparent;
    transition: background 0.3s ease;
    animation: colorblender 5s infinite;
}

@keyframes colorblender {
    0% {background: linear-gradient(to right, red, cyan, green, pink);}
    25% {background: linear-gradient(to right, pink, red, cyan, green);}
    50% {background: linear-gradient(to right, green, pink, red, cyan);}
    75% {background: linear-gradient(to right, cyan, green, pink, red);}
    100% {background: linear-gradient(to right, red, cyan, green, pink);}
}