<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedulet web client</title>
    
        <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for("static", filename="js/code.js") }}"></script>
    </head>

    <body onload="setDefaultSchedule()">
        <h1 class="title">Make your schedule!</h1>

        <table>
        </table>

        <div class="configpanel">
            <button onclick="add()" class="addButton">Add</button>
            <input placeholder="Time" id="addintime" class="timein" type="datetime">
            <input placeholder="Task" id="addintask" class="panelin">
            <hr>
            <button onclick="deleteTask()" class="deleteButton">Delete</button>
            <button onclick="deleteAllTasks()" class="deleteButton" style="margin-top: 0.3rem;">Delete all</button>
            <hr>
            <button onclick="modifyTask()" class="addButton">Modify</button>
            <input placeholder="Time" id="modifyintime" class="timein" type="datetime">
            <input placeholder="Task" id="modifyintask" class="panelin">
        </div>
        
        <!-- I know it's not the best way to do it, but it works :) -->
        <input id="selected" value="-1" hidden>
    </body>
</html>