<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedulet web client</title>
    
        <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for("static", filename="js/code.js") }}"></script>
    </head>

    <body onload="setDefaultSchedule()">
        <h1 class="title">Make your schedule!</h1>

        <table>
        </table>
    </body>
</html>